body{
    background-color: #fff;
    font-size: 14px;
}

.card{
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.card:hover{
    cursor: pointer;
}

.color.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.color.primary {
    background-color: #1178b4;
}

.color.secondary {
    background-color: #232960;
}

.color.success {
    background-color: var(--success);
}

.color.info {
    background-color: var(--info);
}

.color.warning {
    background-color: var(--warning);
}

.color.danger {
    background-color: var(--danger);
}

.color.light {
    background-color: var(--light);
}

.color.dark {
    background-color: var(--dark);
}

.btn-primary.hover{
    color: #f5f5f5;
    background-color: #0e6191;
    border-color: #0d5985
}

.btn-secondary.hover{
    color: #f5f5f5;
    background-color: #191d44;
    border-color: #15193b
}
.btn-success.hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}
.btn-danger.hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}
.btn-warning.hover{
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00
}
.btn-info.hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b
}

.btn-light.hover{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}
.btn-dark.hover{
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}