body{
    background-color: #fff;
}

.card{
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.card:hover{
    cursor: pointer;
}

.color.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.color.primary {
    background-color: #1178b4;
}

.color.secondary {
    background-color: #232960;
}

.color.success {
    background-color: var(--success);
}

.color.info {
    background-color: var(--info);
}

.color.warning {
    background-color: var(--warning);
}

.color.danger {
    background-color: var(--danger);
}

.color.light {
    background-color: var(--light);
}

.color.dark {
    background-color: var(--dark);
}